@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    
}



.headernav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    padding: 15px;
    padding-left:60px;
    padding-right:60px;
    background-color: #1F2937;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    color: #E5E7EB;
}



.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.rightlinks, .secondarytext {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    font-size: 18px;
    color: #E5E7EB;
    
    
}

.secondarytext {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
}

.herocontainer {
    display: flex;
    flex-wrap: wrap;
    background-color: #1F2937;
    padding: 15px;
    padding-left:60px;
    padding-right:60px;
    justify-content: space-between;
    gap: 10px;
}

.heroleft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.heroheader {
    font-size: 3em;
    font-weight: 800;
    color: #F9FAF8;
    flex-shrink: 1;
    word-break: keep-all;
}
 
/* placeholder courtesy of Eric Su - https://ericsu.me/tech/2016/07/04/creating-image-placeholder.html */
.heroplaceholder {
    background-color: #747474;
    display: flex;
    justify-content: center;
    min-width: 10%;
    height: auto;
    padding: 10%;
}

.heroplaceholder > h4 {
    align-self: center;
    padding: ;
    text-align: center;
    
}
/* placeholder courtesy of Eric Su - https://ericsu.me/tech/2016/07/04/creating-image-placeholder.html */



button {
    margin-top: 10px;
}