@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
}

.headernav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
  padding: 15px;
  padding-left: 15%;
  padding-right: 15%;
  background-color: #1f2937;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  color: #e5e7eb;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

h1 {
  font-size: 3em;
  font-weight: 800;
  color: #f9faf8;
  word-break: break-word;
  max-width: 300px;
  font-family: Roboto, sans-serif;
}

h2 {
  font-size: 1.125em;
  color: #e5e7eb;
  font-family: Roboto, sans-serif;
}

h3 {
  font-size: 36px;
  font-weight: 700;
  color: #1f2937;
  font-family: Roboto, sans-serif;
}

h5 {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
    font-family: Roboto, sans-serif;
}

.rightlinks,
.secondarytext {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.boxcontainer {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  
}

.square {
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
}

.box {
  border: #3882f6 solid 4px;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin-top: 10%;
  margin-bottom: 5%;
}

.caption {
  text-align: center;
  font-size: 12px;
  word-wrap: break-word;

  max-width: 110px;
}

.secondarytext {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
}

.herocontainer {
  display: flex;
  flex-wrap: wrap;
  background-color: #1f2937;
  padding: 15px;
  padding-left: 15%;
  padding-right: 15%;
  justify-content: space-between;
  gap: 10px;
}

.heroleft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.heroheader {
  flex-shrink: 1;
}

/* placeholder courtesy of Eric Su - https://ericsu.me/tech/2016/07/04/creating-image-placeholder.html */
.heroplaceholder {
  background-color: #747474;
  display: flex;
  justify-content: center;
  min-width: 10%;
  height: auto;
  padding: 10%;
}

.heroplaceholder > h4 {
  align-self: center;

  text-align: center;
}
/* placeholder courtesy of Eric Su - https://ericsu.me/tech/2016/07/04/creating-image-placeholder.html */

.infoheader {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.quoteblock {
    display: flex;
    text-align: center;
    margin-top: 7%;
    padding: 9%;
    background-color: #e5e7eb;
    padding-left: 25%;
    padding-right: 25%;
    
}

.quote {
    text-align: center;
}
.quotecaption {
    display: flex;
    justify-content: flex-end;
    font-size: x-large;
    
}

button {
  margin-top: 10px;
  background-color: #3882f6;
  padding: 1% 6%;
  border-radius: 5px;
  border-style: none;
  color: #f9faf8;
  font-weight: 900;
  font-size: large;
}
